.btn__hover {
  @include flex;
  @include font($brand-primary, $font-size-base, $weight-regular);
  position: relative;
  fill: $brand-primary;
  text-decoration: none;
  z-index: $z-index-home-text;
  &::before {
    content: "";
    @include position-absolute(auto, auto, 1px, 50%);
    transform: translateX(-50%) scaleX(0);
    width: 50px !important;
    height: 2px;
    background-color: $brand-primary;
    transition:
      transform 0.3s ease,
      width 0.3s ease;
  }
  &:hover::before {
    transform: translateX(-50%) scaleX(1);
    width: 100%;
  }
}


.btn__bag {
  @include font($black, 1em, 500);
  width: 100%;
  height: 40px;
  background-color: $black-100;
  border: 0;
  border-radius: $border-radius-xs;
  transition: all 0.25s ease;
  &:hover {
    background-color: $brand-primary;
    color: $white;
  }
}

.btn__card {
  @include font($black, 1em, 500);
  width: 100%;
  height: 40px;
  background-color: $black-100;
  border: 0;
  border-radius: $border-radius-xs;
  transition: all 0.25s ease;
  &:hover {
    background-color: $brand-primary;
    color: $white;
  }
}

.btn__disabled {
  background-color: $brand-secondary-disable;
  color: $brand-secondary-text-disable;
  cursor: not-allowed;
  &:hover {
    background-color: $brand-secondary-disable;
    color: $brand-secondary-text-disable;
  }
}
