@import "../variables/colors";
@import "../variables/variables-color";
@import "../variables/variables-font";
@import "../variables/variables-spacing";

@mixin flex($direction: row, $wrap: nowrap, $justify: center, $align: center,$gap-vertical: 0, $gap-horizontal: 0) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap-vertical $gap-horizontal;
}

@mixin font($color: $black, $size, $weight: 400) {
  font-family: "SF-Pro", sans-serif;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin media-query($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == "mobile" {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: 1024px) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' no válido. Use 'tablet', 'mobile' o 'desktop'.";
  }
}

@mixin position-absolute($pTop: auto, $pRight: auto, $pBottom: auto, $pLeft: auto) {
  position: absolute;
  top: $pTop;
  right: $pRight;
  bottom: $pBottom;
  left: $pLeft;
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

@mixin position-fixed($pTop: auto, $pRight: auto, $pBottom: auto, $pLeft: auto) {
  position: fixed;
  top: $pTop;
  right: $pRight;
  bottom: $pBottom;
  left: $pLeft;
}

@mixin border-card() {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: $border-radius-sm;
}
