<div class="pagination" *ngIf="totalPages.length > 1">
  <div class="pagination__btn">
    <button class="pagination__btn-arrow" (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">
      <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>
    <div class="pagination__btn-number">
      <ng-container *ngFor="let item of calculatePageRange();">
        <button [ngClass]="{'activated': item === currentPage}" (click)="setPage(item)">{{ item }}</button>
      </ng-container>
    </div>
    <button class="pagination__btn-arrow" (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages.length">
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
  </div>
</div>
