<ng-container *ngIf="!loading">
  <div class="wrapper__card">
    <div class="card__img">
      <button [routerLink]="goToProduct()">
        <img [src]="imgCover" [alt]="model" loading="lazy" />
      </button>
    </div>
    <div class="card__body">
      <h2>
        {{ model }} <br>
        {{ colorName }} {{ colorStrape }} <br>
      </h2>
      <div *ngIf="variations[0].space.length > 0">
        <select class="p-select" [(ngModel)]="selectedSpace" (change)="updatePrice()">
          <option *ngFor="let variation of variations" [value]="variation.space">{{ variation.space }}</option>
        </select>
      </div>
      <div>
        <p>{{ selectedPrice | currency:'USD' : 'symbol' }}</p>
      </div>
    </div>
    <button class="btn__card" [routerLink]="goToProduct()">Buy</button>
  </div>
</ng-container>
<ng-container *ngIf="loading">
  <div class="wrapper__card">
    <div class="ph__item">
      <div class="card__img ph__picture"></div>
      <div class="ph__row">
        <div class="ph__col-12"></div>
        <div class="ph__col-12"></div>
        <div class="ph__col-6"></div>
      </div>
    </div>
    <button class="btn__card btn__disabled">Add to bag</button>
  </div>
</ng-container>
