$blue-50: #eef8ff;
$blue-100: #d9efff;
$blue-200: #bce4ff;
$blue-300: #8ed4ff;
$blue-400: #59baff;
$blue-500: #2997ff; //def
$blue-600: #1b7cf5;
$blue-700: #1466e1;
$blue-800: #1751b6;
$blue-900: #19478f;
$blue-950: #142c57;

$black-50: #f6f6f6;
$black-100: #e7e7e7;
$black-200: #d1d1d1;
$black-300: #b0b0b0;
$black-400: #888888;
$black-500: #6d6d6d;
$black-600: #5d5d5d;
$black-700: #4f4f4f;
$black-800: #454545;
$black-900: #3d3d3d;
$black-950: #000000;
