$zero: 0;
$xs: 0.25rem;
$sm: 0.5rem;
$md: 1rem;
$lg: 1.25rem;
$xl: 1.5rem;
$xxl: 2rem;

$border-radius-zero: 0;
$border-radius-xs: 0.25rem;
$border-radius-sm: 0.5rem;
$border-radius-md: 1rem;
$border-radius-lg: 1.25rem;
$border-radius-xl: 1.5rem;
$border-radius-xxl: 2rem;

$padding-zero: 0;
$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 1.25rem;
$padding-xl: 1.5rem;
$padding-xxl: 2rem;
$padding-1x: 3rem;
$padding-1xs: 3.5rem;
$padding-2x: 5rem;
$padding-2xs: 5.5rem;

$margin-zero: 0;
$margin-xs: 0.25rem;
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 1.25rem;
$margin-xl: 1.5rem;
$margin-xxl: 2rem;
$margin-1x: 3rem;
$margin-2x: 5rem;

$gap-zero: 0;
$gap-xs: 0.25rem;
$gap-sm: 0.5rem;
$gap-md: 1rem;
$gap-lg: 1.25rem;
$gap-xl: 1.5rem;
$gap-xxl: 2rem;
$gap-1x: 3rem;
$gap-2x: 5rem;
$gap-home: 0.75rem;

$z-index-modal: 50;
$z-index-home-text: 5;
