@import "../../../styles/abstract/mixins";

.footer {
  width: 100%;
  background-color: $background-gray;
  padding-top: $margin-1x;
  .container {
    @include flex(column, nowrap, space-between, space-between);
    position: relative;
    height: 100%;
    .footer__nav {
      @include flex(row, wrap, space-between, flex-start);
      .footer__column {
        @include flex(column, nowrap, flex-start, flex-start, $gap-md);
        &-title {
          @include font($black, $font-size-base, $weight-semi-bold);
          margin-bottom: $margin-sm;
        }
        &-list {
          padding: 0;
          .column__item {
            .column__item-link {
              @include font(
                $brand-secondary-text-gray,
                $font-size-sm,
                $weight-regular
              );
              text-decoration: none;
              line-height: $lg;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    @include media-query(mobile) {
      .footer__nav{
        @include flex(column, wrap, space-between, flex-start, $gap-xl);
      }
    }
  }
}

.footer__text {
  @include font($brand-secondary-text-gray, $font-size-sm, $weight-regular);
  text-wrap: pretty;
  margin-top: $margin-lg;
  line-height: $lg;
}

.container__line {
  @include flex();
  .line {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin: $margin-md 0;
  }
}

.footer__bottom {
  @include flex(row, wrap, space-between, space-between);
  width: 100%;
  margin-bottom: $margin-xl;
  @media (max-width: 991px) {
    @include flex(column);
    gap: $gap-lg;
  }
  p,
  a {
    @include font($brand-secondary-text-gray, $font-size-sm, $weight-regular);
    text-wrap: nowrap;
    margin: 0;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .bottom__list {
    @include flex(row, wrap);
    gap: $gap-sm;
    li:last-of-type a {
      border-right: 0;
    }
    .bottom__item-links {
      border-right: 1px solid rgba(0, 0, 0, 0.5);
      padding-right: $padding-sm;
    }
  }
  @include media-query(mobile) {
    .bottom__list {
      flex-direction: column;
      .bottom__item-links {
        border-right: 0;
      }
    }
  }
}
